[mysqld]
bind-address = 0.0.0.0
user = mysql
port = 3306
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
key_buffer_size = 256M
max_allowed_packet = 256M
innodb_buffer_pool_size = 512M

[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock

[mysql]
default-character-set = utf8mb4
