[mysqld]
bind-address = 0.0.0.0
#utente creato da mariadb
user = mysql  
port = 3306
#datadir = /var/lib/mysql
#socket = /var/run/mysqld/mysqld.sock  usa gia questi


[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock

[mysql]
#definisce i caratteri memorizzabili
default-character-set = utf8mb4